.wraper
  .side-bar
    %ul
      %li
        = link_to "マイページ", user_path(current_user), class: "Lists__right--btn"
      - if current_user.destination
        %li  
          = link_to "お届け先住所", destination_path
      - else
        %li  
          = link_to 'お届け先住所登録', new_destination_path

      - if current_user.card
        %li  
          = link_to "クレジット情報削除", signup_path
      - else
        %li  
          = link_to "クレジット登録", signup_index_path
      %li
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "Lists__right--btn"
  .mypage
    .mypage__title--text
      マイページ
    .userdatas
      .userdata
        .userdata__key
          ニックネーム
        .userdata__value
          = @user.nickname
      .userdata
        .userdata__key
          メールアドレス
        .userdata__value
          = @user.email
      .userdata
        .userdata__key
          お名前
        .userdata__value
          = @user.family_name
          = @user.first_name
      .userdata
        .userdata__key
          ふりがな(ひらがな)
        .userdata__value
          = @user.family_name_kana
          = @user.first_name_kana
      .userdata
        .userdata__key
          生年月日
        .userdata__value
          = @user.birth_day
          