.wraper
  .mypage
    .useredit
      %ul
        %li
          = link_to '基本情報登録', new_destination_path
        %li  
          = link_to '基本情報変更', destination_path
        %li
          = link_to "#" do
            クレジット情報
        %li
          = link_to "#" do
            ログアウト
    .mypage__title
      マイページ
    .userdatas
      .userdata
        .userdata__key
          ニックネーム
        .userdata__value
          = @user.nickname
      .userdata
        .userdata__key
          メールアドレス
        .userdata__value
          = @user.email
      .userdata
        .userdata__key
          お名前
        .userdata__value
          = @user.family_name
          = @user.first_name
      .userdata
        .userdata__key
          ふりがな(ひらがな)
        .userdata__value
          = @user.family_name_kana
          = @user.first_name_kana
      .userdata
        .userdata__key
          生年月日
        .userdata__value
          = @user.birth_day
      .userdata
        .userdata__key
          自己紹介
        .userdata__value
          プログラミング始めました。よろしくお願いします!