.wrapper
  .header
  .main
    .main__contents
      %h2.main__contents__head 
        購入内容の確認

      %hr/
      .main__contents__buy-item
        .main__contents__buy-item__image
          = image_tag @product.images[0].image.url, size: "150x90"
        .main__contents__buy-item__detail
          .main__contents__buy-item__detail__name
            = @product.name
          .main__contents__buy-item__detail__value
            ¥ 
            = @product.price
            （税込）送料込み

      %hr/
      .main__contents__value
        .main__contents__value__pay 
          支払い金額
        .main__contents__value__money
          ¥ 
          = @product.price
          （税込）送料込み

      %hr/
      .main__contents__address
        - if current_user.card
          .main__contents__address__method 
            支払い方法
            %br/
          = "************4242"
          = link_to signup_path, class: "main__contents__address__link" do
            >>確認する
        - else
          .main__contents__address__method 
            支払い方法
            %br/
          .main__contents__address__method
            = link_to signup_index_path, class: "main__contents__address__link" do
              >>クレジットカードを登録する

      %hr/
      .main__contents__posts
        配送先住所
        %br/
        - if current_user.destination 
          .main__contents__posts__shipping-address 
            
            = @destination.post_code
            %br/
            = @destination.prefecture.name
            %br/
            = @destination.city
            %br/
            = @destination.address
            %br/
            = @destination.building_name
            %br/
            = @destination.family_name 
            = @destination.first_name
          .main__contents__posts__method
            = link_to edit_destination_path, class: "main__contents__address__link" do
              >>変更する
        - else
          .main__contents__posts__shipping-address 
          .main__contents__posts__method
            = link_to new_destination_path, class: "main__contents__address__link" do
              >>配送先の登録

      - if current_user.card and current_user.destination 
        %hr/
        .main__contents__send
        = form_for @product, :url => {controller: "buys", action: "update"} do |f|
          = f.submit value: "購入する", class: "btn-icon"