.wraper
  .mypage
    .useredit
      %ul
        %li
          = link_to '基本情報登録', new_destination_path
        %li  
          = link_to "#" do
            お届け先
        %li
          = link_to "#" do
            クレジット情報
        %li
          = link_to "#" do
            ログアウト
    .mypage__title
      マイページ
    .userdatas
      .userdata
        .userdata__key
          お名前
        .userdata__value
          = @destination.family_name 
          = @destination.first_name 
      .userdata
        .userdata__key
          お名前カナ
        .userdata__value
          = @destination.family_name_kana
          = @destination.first_name_kana
      .userdata
        .userdata__key
          郵便番号
        .userdata__value
          = @destination.post_code 
      .userdata
        .userdata__key
          都道府県
        .userdata__value
          = @destination.prefecture.name
      .userdata
        .userdata__key
          市区町村
        .userdata__value
          = @destination.city 
      .userdata
        .userdata__key
          番地
        .userdata__value
          = @destination.address  
      .userdata
        .userdata__key
          建物
        .userdata__value
          = @destination.building_name

      .userdata
        .userdata__key
          電話
        .userdata__value
          = @destination.phone_number

        = link_to '編集', edit_destination_path
        


    
          