.products
  .products__items
    = form_for @product do |f|
      #image-box
        #previews
          - if @product.persisted?
            - @product.images.each_with_index do |image, i|
              = image_tag image.image.url, data: { index: i }, width: "100", height: '100'

        = f.fields_for :images do |image|
          .js-file_group{"data-index" => "#{image.index}"}
            = image.file_field :image, class: 'js-file'
            %br/
            %span.js-remove 削除
          - if @product.persisted?
            = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
        - if @product.persisted?
          .js-file_group{"data-index" => "#{@product.images.count}"}
            = file_field_tag :image, name: "product[images_attributes][#{@product.images.count}][image]", class: 'js-file'
            .js-remove 削除








        -# .image__name 出品画像
        -# .image__required 必須
        -# .image__upload 最大４枚までアップロードできます 
        -# .image__pictures
        -#   = f.fields_for :images do |i|
        -#     .img-label
        -#       =i.label :image do
        -#         .image__picture
        -#         = i.file_field :image
        -#         .image__picture__btn 
        -#           = icon('fas', 'camera')
        -#         .image__picture__sentence
        -#           画像を登録する

                

                
            
      .items__product
        .product__name 商品名
        .product__required 必須
        = f.text_field :name, placeholder: "40文字まで", class: "product__goods"
        %br/
        %br/
        .product__name 商品の説明
        .product__required 必須
        = f.text_area :description, placeholder: "商品の説明(必須1000文字以内)", class: "product__description"
        %br/
        %br/
        .product__name カテゴリー
        .product__required 必須
        .listing-form-box
          .listing-product-detail__category
            .listing-select-wrapper
              .listing-select-wrapper__box
                = f.select :category_id, options_for_select(Category.where(ancestry: nil).map{|t|[t[:name], t[:id],{}]}, @product.category.parent.parent.id), {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                = f.select :category_id, options_for_select(@product.category.parent.parent.children.map{|t|[t[:name], t[:id],{}]}, @product.category.parent.id), {}, {class: 'listing-select-wrapper__box--select', id: 'children_wrapper'}
                = f.select :category_id, options_for_select(@product.category.parent.children.map{|t|[t[:name], t[:id],{}]}, @product.category.id), {}, {class: 'listing-select-wrapper__box--select', id: 'grandchildren_wrapper'}
              


     
                





        %br/
        %br/

        .product__name 商品の状態
        .product__required 必須
        = f.select :status, [['新品、未使用'], ['未使用に近い'], ["目立った傷や汚れなし"], ["やや傷や汚れあり"], ["傷や汚れあり"], ["全体的に状態が悪い"]], {}, {class: "product__status"}
        

      .items__delivery
        .delivery__name 配送料の負担
        .delivery__required 必須
        = f.select :shipping_cost, [['送料込み(出品者負担)'], ['着払い(購入者負担)']], {}, {class: "delivery__cost"}
        %br/
        %br/
        .delivery__name 発送元の地域
        .delivery__required 必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name
        %br/
        %br/
        .delivery__name 発送までの日数
        .delivery__required 必須
        = f.select :shipping_days, [['1~2日で発送'], ['2~3日で発送'], ["4~7日で発送"]], {}, {class: "delivery__days"}

      .items__value
        .value__name 販売価格
        .value__required 必須
        = f.text_field :price, placeholder: "入力してください", class: "value__prize"
        = f.submit root_path, value:"編集する",  class: "value__judgment"
      
