.wrapper

  .header
    .header__image
      = image_tag src="/assets/logo.png", size: "185x49"

  .main
    .main__contents
      %h2.main__contents__head 
        購入内容の確認

      %hr/
      .main__contents__buy-item
        .main__contents__buy-item__image
          = image_tag src="/assets/noimage.png", size: "150x90"
        .main__contents__buy-item__detail
          .main__contents__buy-item__detail__name
            商品名
          .main__contents__buy-item__detail__value
            ¥ （税込）送料込み
            
      %hr/
      .main__contents__value
        .main__contents__value__pay 
          支払い金額
        .main__contents__value__money
          ¥ （税込）送料込み

      %hr/
      .main__contents__address
        .main__contents__address__method 
          支払い方法
        .main__contents__address__link
          = link_to ">>方法の選択", "#"

      %hr/
      .main__contents__posts
        .main__contents__posts__shipping-address 
          配送先住所
        .main__contents__posts__method
          = link_to ">>配送先の選択", "#"
        
      %hr/
      .main__contents__send
      %input{type: "submit", value: "購入する", class: "btn-icon"}/

  .footer
    .footer__image
      = image_tag src="/assets/logo-white.png", size: "185x49"
      %p Furima, Inc.