!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FreemarketSample72b3
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    :javascript
      Payjp.setPublicKey('pk_test_3b0f6e5c369786aaae6db1df');


    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    
  %body
    = render 'layouts/notifications'
    .header
      .header__inner
        .header__inner--head
          .logo
            = link_to root_path do
              = image_tag 'logo.png'
          .search
            %form{"accept-charset": "UTF-8", action: "#", method: "get"}
              %input{name: "utf8", type: "hidden", value: "✓"}
              %input.search__text{name: "key", placeholder: "キーワードから探す"}
              = image_tag 'icon-search-1.png', alt: '', height: '', width: '', class: 'search__btn'
        .header__inner--foot
          .Lists
            .Lists__left
              = link_to "カテゴリー", "#", class: "Lists__left--category"
              = link_to "ブランド", "#", class: "Lists__left--brand"
            .Lists__right
              - if user_signed_in?
                = link_to "マイページ", user_path(current_user), class: "Lists__right--btn"
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "Lists__right--btn"
              - else
                = link_to "ログイン", new_user_session_path, class: "Lists__right--btn"
                = link_to "新規会員登録", new_user_registration_path, class: "Lists__right--btn"
    = yield

.footer
  %ul.contents
    %li.content
      %h2.content__head FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    %li.content
      %h2.content__head FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧", "#"
        %li
          = link_to "ブランド一覧", "#"
    %li.content
      %h2.content__head ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  .footer__logo
    = link_to  "/" do
      = image_tag "logo-white.png"
  %p © FURIMA
